{% extends 'utils/base.html' %}
{% load sass_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% sass_src 'scss/userArrive/token.scss' %}">
<script>
    // Auto-redirect após 15 segundos
    setTimeout(function() {
        globalThis.location.href = "{% url 'codigo:user-arrive' %}";
    }, 15000);
</script>
{% endblock head %}

{% block content %}
<div class="container">
    {% include 'utils/sidebar.html' with mensagem="siga em diante" %}
    <div class="main">
        <h2>Essa é sua ficha{% if nome %}, {{nome}}.{% endif %}</h2>
        <div>{{ id }}</div>
    </div>
</div>
{% endblock content %}