{% extends 'utils/base.html' %}
{% load sass_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% sass_src 'scss/userDepart/price.scss' %}">
<script>
    // Auto-redirect após 15 segundos
    setTimeout(function() {
        globalThis.location.href = "{% url 'codigo:user-depart' %}";
    }, 15000);
</script>
{% endblock head %}

{% block content %}
<div class="container">
    {% include 'utils/sidebar.html' with mensagem="até a próxima!" %}
    <div class="main">
        <div id="price">
            <h2>Valor:</h2>
            <div class="valor">R$ {{ preco }}</div>
        </div>
    </div>
</div>
{% endblock content %}